// Variáveis

$primary-color: #8e44ad;
$secondary-color: #f39c12;
$white: #fff;
$gray-light: #f5f5f5;
$gray-dark: #333;
$shadow-light: rgba(0,0,0,0.05);
$shadow-medium: rgba(0,0,0,0.1);
$border-radius: 8px;
$transition: 0.3s ease;